.sidebar-container {
  display: flex;
  background-color: white;
  color:black;
  padding: 1.2rem 3rem;
  min-height: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  border-radius: 25px;
  box-shadow: 0px 3px 9px 2px rgba(222, 222, 222, 0.65);
}

.image {
  width: 128px;
  height: 128px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

img {
  width: 128px;
  height: 128px;
}

.menu-option {
  list-style-type: none;
  padding: 0.5rem 1.2rem;
  gap: 1rem;
  width: 100%;
}

.menu-link {
  background-color: whitesmoke;
  padding: 1rem;
  position: relative;
  display: flex;
  transition: .3s ease-in-out;
}

.menu-link:after {
  content: '';
  position: absolute;
  height: 60%;
  width: 6px;
  background-color: purple;
  top: 0;
  right: 0;
  opacity: .3;
  transition: .3s ease-in-out;
}

.menu-link:hover:after {
  opacity: 1;
  height: 100%;
}

button.menu-link {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
}
.menu-link:active{
  background-color:red;
}

@media (max-width: 605px) and (min-width: 500px) {
  .sidebar-container {
    margin-top: 30%;
    min-height: auto;
  }
  .menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 768px) and (min-width: 605px) {
  .menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}


@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
  .sidebar-container {
    padding: 1rem;
    min-height: auto;
    margin-top: 29%;
  }
  .menu{
    width: 100%;
  }
  .image {
    width: 96px;
    height: 96px;
  }

  img {
    width: 96px;
    height: 96px;
  }

  h2{
    font-size: 32px;
  }
  .menu-option {
    padding: 0.5rem 0.6rem;
  }

  .menu-link {
    padding: 0.8rem;
    font-size:18px;
  }
}

